<!-- <header>
    <h1>Pokedex</h1>
</header> -->
<section class="pagina1">    
    <div class="portada">
        <!-- <div class="boxImg1"> -->
            <img id="logo" src="../../../assets/img/logo3.png">
        <!-- </div> -->
        <!-- <div class="boxImg2"> -->
            <img id="pokeball" src="../../../assets/img/pokeball.png">
        <!-- </div> -->
        <!-- <div class="boxImg3"> -->
            <a id="boton" onclick="funcion()">START</a>
        <!-- </div> -->
    </div>
</section>